body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('http://www.imgbase.info/images/safe-wallpapers/cartoons/rick_and_morty/56250_rick_and_morty.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;

}
.title, .addDancerButton{
  padding: 10px;
  margin-right: 30px;
  border-right: 30px;
  border: 3px solid white;
  background-color: #555;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  width: 150px;
  height: 200px;
  content: url('http://i.imgur.com/maF3zNJ.png');
  position:absolute;
}

.rickDancer{
  width: 200px;
  height: 275px;
  content: url('http://i.imgur.com/XLjssWe.png');
  position:absolute;
}

.mortyDancer{
  width: 200px;
  height: 275px;
  content: url('https://vignette3.wikia.nocookie.net/rickandmorty/images/a/ab/PM-080.png/revision/latest?cb=20160916030351');
  position:absolute;
}
