 @font-face {
   font-family: Misfits;
   src: url('MISFITS_.ttf');
 }

body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('http://www.imgbase.info/images/safe-wallpapers/cartoons/rick_and_morty/56250_rick_and_morty.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;

}
.title, .addDancerButton, .lineUpButton{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Misfits;
  color: #4B8B9C;
  font-size: 20px;
  background: #6c7175;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.danceButtonDiv{
  width: 75%;
  margin: auto;
  margin-top: 6%;
  text-align: center;
}
.topbar {
  height:32px;
  color: #4B8B9C;
  font-weight: lighter;
  font-size: 30px;
  font-family: Misfits;
  text-align: center;
  text-shadow: -3px 0 #00FF16, 0 3px #00FF16, 3px 0 #00FF16, 0 -3px #00FF16;
}
.title{
  background-color: #777;
  padding: 10px;
}
.blinkyDancer{
  width: 60px;
  height: 80px;
  content: url('http://i.imgur.com/maF3zNJ.png');
  position:absolute;
}

.rickDancer{
  width: 125px;
  height: 215px;
  content: url('https://68.media.tumblr.com/0d29a110bbd89fface87d17f6dade085/tumblr_oof0gkLGUY1wnofxjo1_500.gif');
  position:absolute;
}

.meeseeksDancer{
  width: 125px;
  height: 225px;
  animation-duration: 1s;
  content: url('http://i.imgur.com/cmNlHdA.gif');
  position:absolute;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.jerryDancer{
  width: 400px;
  height: 400px;
  content: url('Jerry.png');
  position: absolute;
  /*animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
}
